<h1>Editing attribute_layer</h1>

<%= render 'form' %>

<%= link_to 'Show', palette_attribute_layer_path(@palette, @attribute_layer) %> |
<%= link_to 'Back', palette_attribute_layers_path(@palette) %>
